[Desktop Entry]
Version=1.0
Type=Link
Name=2.6 million+ Stunning Free Images to Use Anywhere - Pixabay
Comment=
Icon=user-bookmarks
URL=https://pixabay.com/
