[Desktop Entry]
Version=1.0
Type=Link
Name=Fantasy Butterflies Mushrooms - Free photo on Pixabay
Comment=
Icon=user-bookmarks
URL=https://pixabay.com/photos/fantasy-butterflies-mushrooms-2049567/
