[Desktop Entry]
Version=1.0
Type=Link
Name=Milky Way Stars Night Sky - Free photo on Pixabay
Comment=
Icon=user-bookmarks
URL=https://pixabay.com/photos/milky-way-stars-night-sky-night-2695569/
