[Desktop Entry]
Version=1.0
Type=Link
Name=Mountain Landscape Steps Stones - Free photo on Pixabay
Comment=
Icon=user-bookmarks
URL=https://pixabay.com/photos/mountain-landscape-steps-stones-2031539/
