[Desktop Entry]
Version=1.0
Type=Link
Name=Road Forest Fall - Free photo on Pixabay
Comment=
Icon=user-bookmarks
URL=https://pixabay.com/photos/road-forest-fall-path-trail-trees-1072821/
