[Desktop Entry]
Version=1.0
Type=Link
Name=Tree Sunset Clouds - Free photo on Pixabay
Comment=
Icon=user-bookmarks
URL=https://pixabay.com/photos/tree-sunset-clouds-sky-silhouette-736885/
